{% extends "base.html" %}
{% block content %}

<div class='info'> {{info_msg if info_msg != None}} </div>
{% for id in userId %}
<form action="{{url_for('upload', id = id)}}" method="get">
	<input type="submit" value="New Image">
</form>
{% endfor %}

<table />
<thread>
	<th>Original</th>
	<th>Transform_1</th>
	<th>Transform_2</th>
	<th>Transform_3</th>
</thread>

{% for row in cursor %}
<tr>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[2]}}" alt="image" class="thumbnail"/></td>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[3]}}" alt="image" class="thumbnail"/></td>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[4]}}" alt="image" class="thumbnail"/></td>
	<td><img src="https://s3.amazonaws.com/ece1779b/{{row[5]}}" alt="image" class="thumbnail"/></td>
</tr>
{% endfor %}

</table>

{% endblock %}
